@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #16191d;
}
.backgroinImage {
  background-image: url("/reactbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 205, 205);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ant-modal-content{
  border-radius: 0px !important;
  background-color: #3d3e3f !important;
}